h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    line-height: 1.2;
}

.container {
    width: 85%;
    margin: auto;
}

.comment {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #dddddd;
}

.subcomments {
    padding-left: 10pt;
}

p.info {
    font-size: smaller;
}

span.user {
    font-weight: bolder;
}

span.score {
    margin-left: 5pt;
    margin-right: 5pt;
    color: gray;
}

